   
.tong {
   
   display: block;
   padding:   0;
   height: auto;
   border: solid#eeeeee;
   font-family: Arial;
   width: 1490px;
}
#out{
  opacity: 0;
 }

a{
   color: black;
}

body {
   display: flex;
   justify-content: center;
}

.gioithieu {
   height: 30px;
   background-color: #eeeeee;
   display: flex;
   justify-content: center;
   width: 100%;
   text-align: center;
   
}

.gioithieu a {
   text-decoration: none;
   color: black;
}

 .gioithieu a:hover {
   color: red;

}

.gioithieu .tenweb {
   font-weight: bold;
   font-size: 130%;
   margin-top: 3px;
   color: rgb(15, 1, 1);
}
.tenweb span {
   font-weight: normal;
   font-size: 67%;
   color:#4a3d3a;
}

.gioithieu .ship {
   font-weight: normal;
   text-align: right;
   margin-left: 300px;
   font-family: initial;
   margin-top : 8px;
}
.ship i{
   color: rgb(241, 14, 14);
}


.thaotac {
   display: flex;
   margin: 10px 10%;
   height: 120px;

}

.thaotac img {
   width: 80px;
   height: 80px;
   display: flex;
   justify-content: center;
}

.thaotac .web {
   display: flex;
}
.thaotac img{
   padding-top: 20px;
}
.thaotac .p1{
  color:rgb(15, 1, 1);
  font-size: 200%;
  padding-left: 10px;
  padding-top:0;
  font-weight: bold;
}
li{
  cursor: pointer;
}
.thaotac .lam {
   display: flex;
   margin: 10px 0 10px 300px;
}
.lam i{
   color: #a29298;
   height: 30px;
   font-size: 110%;
   margin-left: 15px;
   margin-top: 3px;
}
 
/* .nhaptimkiem:hover .nuttimkiem{
  border: 2px solid black;
  border-left: none;
  margin-top: -1px;
  height: 23px;
}
.nhaptimkiem:hover {
  border: 1px solid red;
}
 */
.timkiem {
  height: 44px;
  width: 327px;
  margin-top: 23px;
  border: 1px solid pink;
  border-radius: 5px;
  display: flex;

}
.nhaptimkiem{
   height: 23px;
   width: 237px;
   font-size: 110%;
   border: none;
   margin: 0;
   padding: 10px;
   
}
.nuttimkiem{
  width: 49px;
  border: none;
  height: 24px;
  font-size: 110%;
  margin-left: 1px;
  margin-top: 0px;
  padding: 10px;
  background-color: #e5e5e5;
}


a {
   text-decoration: none;
}


.lam1 {
  margin-left: 50px;
  height: 40px;
 
  margin-top: 25px;
  font-weight: bold;
  font-family: initial;
  font-size: 110%;
  width: 400px;

 }
 #dk{
   font-size: 80%;
 }

#icon{
  margin-left: 30px;
  margin-top: -5px;
  color: red;
  font-weight: bold;
  padding-right: 10px;
  font-size: 150%;


}
.login{
  padding-top: 3px;
}

/* end giới thiệu trang web */

/* start menu */

.menu {
   background-color: #303030;
   text-align: center;
   display: flex;
   justify-content: center;
   border-bottom: 1px solid #303030;
   position: sticky;
   top: 0;
   z-index: 1;
   width: 100%;
}

.menu ul {
   display: flex;
   margin: 0px 20px;
}

.menu li {
   height: 20px;
   color: white;
   font-size: 70%;
   font-weight: bold;
   padding: 15px 20px 3px 20px;
   text-align: center;
   margin-left: 60px;
   border-bottom: 3px solid #303030;

}
.menu i:hover{
   border-bottom:3px solid  #303030;
}

ul {
   list-style: none;
}


 .menucon:hover {
   border-bottom: 3px solid white;
   transition: 0.4s;
}

.anhgioithieu {
   width: 100%;
   height: auto;
   overflow: hidden;
}

.anhgioithieu img {
   width: 1600px;
   /* height: auto; */
}
/* end menu */
.camket{
  width: 1200px;
  margin-top: 30px;
  height: 90px;
  background-color: white;
  margin-left: 230px;
  color: #56566b;
}
.dscamket ul{
  display: flex;
  width: 1200px;
}
.camketitem{
  margin: 0px;
  width: 400px;
}
.camket p{
  font-weight: bold;
  margin-left: 0px;
  font-size: 140%;

}

.camketitem i{
  color: #56566b;
  font-weight: bold;
  font-size: 470%;
}

/* start noidung  */
.noidung{
  width: 1200px;
  margin-left: 200px;
}
/* end noidung */

/* start noi */
.noi{
  border: 1px  solid #303030;
  width: 175px;
  margin-left: 200px;
  color: white;
  font-family: initial;
  background-color: #303030;
  font-weight: bold;
  font-size: 120%;
  padding-left: 30px;
}
.khoi1{
  width: 1200px;
  display: flex;
}
.khoi1menu{
  width: 300px;
  height: 900px;
  background-color: #eeeeee;
}
.khoi1menu li{
  border: 1px solid #eeeeee;
  margin: 20px 20px 30px -10px;
  /* margin-left: -10px; */
  font-weight: bold;
  font-family: initial;
  font-size: 120%;
}
.khoi1sanpham{
  border: 2px solid #eeeeee;
  width: 900px;
  overflow: hidden;
}
del{
  color: red;
}
#bor{
  border-bottom: 3px solid pink;
}
/* start san pham noi bat */
.muc{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 900px;
  padding-left: 10px;
  font-weight: bold;
  border-bottom: 2px solid red;
  padding: 10px;
  border-left: 7px solid white;
}

/* start sanphamnoibat */
.sanphamnoibat{
  margin-top: 40px;
}
.dssanphamnoibat{
  display: flex;
  height: 350px;
  margin-top: -10px;
}
.sanphamnoibat .sanphamitem{
  border: 1px solid pink;
  height: 330px;
  margin: 5px 11px;
  width:200px;
}
.sanphamitem:hover{
  border: 1px solid green;
  
}
.sanphamitem:hover img{
  transform: scale(1.1);
  transition: 0.6s;

}
/* end san pham noi bat */

.sanphamsale{
  margin-top: 40px;
}
.dssanphamsale{
  display: flex;
  height: 350px;
  margin-top: -10px;
}
.sanphamsale .sanphamitem{
  border: 1px solid pink;
  height: 330px;
  margin: 5px 11px;
  width:200px;
}
/* end san pham sale */

.dsthuonghieunoibat{
  display: flex;
  height: 140px;
  margin-top: -10px;
  width: 900px;
}
.thuonghieunoibat .thuonghieunoibatitem{
  height: auto;
  margin: 5px 11px;
  width:140px;
}
.anhthuonghieunoibat{
  
  width: 900px;
  height: 140px;
  justify-content: space-between;
}
.anhthuonghieunoibat img{
  width:80px;
  height:30px;
  padding: 4px;
  margin: 10px 10px 10px 40px;

}
/* end thuong hieu noi bat */


/* sanphamitem  */
.sanphamitem{
  width: 211px;
  height: auto;
  position: relative;
  overflow: hidden;
}
.sanphamitem img{
  width: 180px;
  height: 210px;
  margin-left:10px;
}
.anh{
  width: 211px;
  height: 252px;
  border: 1px solid  #e5e5e5;
  background-color: white;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}
.anh img{
  width: 175px;
  height: 213px;
  padding-left: 7px;
}

.thongtinsanphamitem{ 
  /* color: white; */
  margin: 0;
  padding-top :0;
  padding-left: 17px;
  padding-right: 5px;
  height: 80px;
}
.sanphamitem .muangay{
  background-color: blue;
  text-align: center;
  padding: 5px 0;
  font-family: tahoma;
  height: 30px;
  font-size: 90%;
  font-weight: bold;
  color: white;
  opacity: 0;
  width: 200px;
  border: 1px solid blue;

}
.dssanphamsale .sanphamitem .muangay{
  background-color: rgb(227, 12, 12);
  text-align: center;
  padding: 5px 0;
  font-family: tahoma;
  height: 30px;
  font-size: 90%;
  font-weight: bold;
  color: white;
  opacity: 0;
  border: 1px solid red;

}
.sanphamitem:hover .thongtinsanphamitem{
  background-color:  #e5e5e575;
}
.sanphamitem:hover .muangay {
     opacity: 1;
}
.thongtinsanphamitem .tensp{
  font-size: 110%;
  margin-top: 6px;
}
.thongtinsanphamitem .gia{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.thongtinsanphamitem .gia p{
  margin-top: 0px;
}
.thongtinsanphamitem:hover{
  /* color: red; */
  background-color: #e5e5e5;
}
.sanphamitem i{
  color: orange;
  cursor: pointer;
}
.gia:hover i{
  color:black;
}
.gia del{
  font-size: 80%;
  font-weight: bold;
}
.anh:hover img{
  transition: 2s;
  transform: scale(1.1);
}

.sanphamitem .mac{
  width: 86px;
  height: 17px;
  position: absolute;
  top: 2px;
  right: -25px;
  background-color: red;
  transform: rotate(43deg);
  color: white;
  font-family: tahoma;
  text-align: center;
  padding-top: 14px;
  font-size: 62%;
  font-weight: bold;
}
/* end sanphamitem */


/* start khoi 2 */

a:hover .sanphamitem{
  border: 1px solid rgb(12, 112, 12);
  box-shadow: rgb(192, 149, 149) 4px 7px 7px -4px;
}
.khoi2{
  margin-top: 30px;
  border: 2px solid #eeeeee;
  width: 900px;
  overflow: hidden;
  margin-left: 300px;
  margin-bottom: 150px;
  border-bottom:1px  solid pink;
}
.sanphambanchay{
  margin-top: 40px;
}
.sanphambanchay .sanphamitem:hover {
  border: 1px solid rgb(69, 152, 69);
}
.dssanphambanchay{
  display: flex;
  height: 350px;
  margin-top: -10px;
}
.sanphambanchay .sanphamitem{
  border: 1px solid pink;
  height: 330px;
  margin: 5px 11px;
  width:200px;
}
/* end san pham sale */

.sanphambanchay{
  margin-top: 40px;
}

.dssanphambanchay{
  display: flex;
  height: 350px;
  margin-top: -10px;
}
.sanphambanchay .sanphamitem{
  border: 1px solid pink;
  height: 330px;
  margin: 5px 11px;
  width:200px;
}
/* end san pham ca phe */

.sanphamcaphe{
   margin-top: 40px;
 }
 
 .dssanphamcaphe{
   display: flex;
   height: 350px;
   margin-top: -10px;
 }
 .sanphamcaphe .sanphamitem{
   border: 1px solid pink;
   height: 330px;
   margin: 5px 11px;
   width:200px;
 }
 /* end san pham sale */

 .sanphamnhabep{
   margin-top: 40px;
 }
 
 .dssanphamnhabep{
   display: flex;
   height: 350px;
   margin-top: -10px;
 }
 .sanphamnhabep .sanphamitem{
   border: 1px solid pink;
   height: 330px;
   margin: 5px 11px;
   width:200px;
 }
 /* end san pham nha bep*/

 .muc:hover{
   border-left: 7px solid #303030;
   background-color: #303030;
   color: white;
   border-bottom: 2px solid #303030;

 }

 .sanphamcaphe{
   margin-top: 40px;
 }
 
 .dssanphamcaphe{
   display: flex;
   height: 350px;
   margin-top: -10px;
 }
 .sanphamcaphe .sanphamitem{
   border: 1px solid pink;
   height: 330px;
   margin: 5px 11px;
   width:200px;
 }
 /* end san pham ca phe */

 
 .sanphamsinhto{
   margin-top: 40px;
 }
 
 .dssanphamsinhto{
   display: flex;
   height: 350px;
   margin-top: -10px;
 }
 .sanphamsinhto .sanphamitem{
   border: 1px solid pink;
   height: 330px;
   margin: 5px 11px;
   width:200px;
 }
 /* end may xay */



/* start lien he */

.lienhe{
  margin-left: 200px;
  background-color: #f9f4f4;
  width: 1200px;
  margin-top: 30px;
  display: flex;
}
.chat{
  width: 380px;
  margin: 5px  10px;

}
.chat img{
  width: 30px;
  height: 30px;
}
.chat li:hover{
  color:blue;
}

.chat ul{
  list-style: none;
  margin-left: -20px;
}
.chatitem {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  font-family: Arial;
  font-size: 140%;
}
.chat li{
  margin-top: 10px;
}
.mxh{
  display: flex;
  height: 30px;
  margin-left: 20px;
}
.mxh p{
  margin-top: 5px;
  margin-left: 10px;
}

.dt{
  padding-top: 10px;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 120%;
  color: rgb(29, 18, 18);
}
.sdt span{
  color: rgb(0, 0, 255)
}
.std:hover{
  color: red;
}
.sdt{
  font-weight: bold;
}


/* gio hang */
.cart-product{
  text-align: center;
  padding-bottom: 20px;
}

.product-items{
  display: flex;
  justify-content: center;

}
.product-item{

  border: 2px solid green;
  margin: 20px;
  width: 200px;
}
.product-item-text{
  border: 1px solid pink;
}
.product-item button{
  padding:   10px 40px;
  margin: 10px 50px;
  background-color: rgb(174, 189, 174);
  color: white;
  font-weight: bold;
}
button:hover{
  color:  blue;
  font-weight: bold;
  background-color: red;
}
.tong{
  border: solid white;
  position: relative;
}
img{
  width: 200px;
}
td img{
  width: 70px;
  height: 70px;
}


/* cart  */
.cart{
  border-top: 4px solid white;
  width: 800px;
 position: fixed;
 height: 97vh;
 right: 0;
 top: 0;
 /* background-color: rgb(146, 151, 147); */
 background-color: white;
 /* background-color: #eff0f5;  */
  overflow:  hidden;
 padding:  15px 0 ;
 overflow-y: scroll;
 right: -100%;
 z-index: 1;
 transition: 0.4s;
 border-left: 12px solid #eeeeee;
 }
 
 #mark:hover{
   color: rgb(233, 15, 15);
 }
 
 
 i{
  cursor: pointer;
 }
 .cart table{
  width: 100%;
  margin-top: 20px;
  margin-left : 10px;
 }
 td{
  text-align: center;
  margin-top: 20px;
 
 }
 
 
 
 #pom{
   background-color: white;
  
 }
 
 .price-total{
  border-top: 3px solid gray;
  color: rgb(167, 26, 36);
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
  font-size: 120%;
   /* margin-top:140px; */
   margin-left: -800px;
    padding-left: 660px;
 
  /* background-color: #eff0f5; */
 }
 th{
  /* font-weight: bold; */
  /* color: white; */
  font-size: 130%;
  /* border : solid; */
 }

 #inf1{
  /* border: solid; */
  width: 400px;
  text-align: left;
 }
  
 
 
 /* gio hang */
 .cart-product{
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  font-size: 150%;
  padding-bottom: 30px ;
  background-color: #e6dbf9;
  margin-top: -20px;
  font-weight: bold;
  /* padding: 0 30px; */
 }
 #mark{
   padding-right: 30px;
 }
 
 .cart-product i {
   margin-right: 10px;
 }
 
 #btn4 a{
   background-color: #0fa80f;
   color: white;
 
    
  }
  #btn4{
   background-color: #0fa80f;
   width: 396px;
  }
   
  button i{
   padding-right: 10px;
  }
  #btn5{
   background-color:#f6cd00;
   color: black;
   width: 193px;
  }
  
  #btn6{
   background-color: #f6cd00;
   color: black;
   width: 193px;
 
  }
  .installment{
   display: flex;
   font-size: 90%;
   justify-content: space-between ;
   margin-top: -12px;
  }
 
  .node{
   margin-left: 30px;
   width: 400px;
   display: block;
   justify-content: center;
   margin: 0 25% 50px 25%;

   
  }

  
form button{
 border-radius: 3px;
cursor: pointer;
font-weight: bold;
font-size: 110%;
border: none;
width: 300px;
padding: 10px;
color: white;
height: 50px;

}
#trademark{
  color: rgb(75, 45, 194);
}
#anima{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color:#76671b;
  margin-bottom: 20px;
}
 
 /* end cart */

 
  /* // responsive */
 
  /* mobile width < 740px */
  @media screen and (max-width: 46.1875em){
    .tong{
      width: 390px;
      display: block;
      overflow: hidden;
      margin:0;
    }
    body{
      display: block;
      justify-content: center;
      width: 400px;
      height: auto;
    }
    .gioithieu{
      display: block;
      overflow: hidden;
      width: 390px;
      padding: 0;
      margin-left: -2px;
    }
    .gioithieu  .tenweb  {
      display: block;
      width: 300px;
      height: 50px;
    }
    .gioithieu .ship{
      display: none;
    }
    .thaotac {
       flex-wrap: wrap;
       width: 100%;
       /* margin-bottom: 50px; */
       flex-direction: row-reverse;
       margin-left: 18px;
       /* border: solid; */
    }
    .thaotac .web {
      margin-top:-30px;
      height: 60px;
      width: 100%;
      margin-bottom: 20px;
    }
    .lam{
      width: 100%;
      height: 30px;
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }
    .lam .nhaptimkiem{
     
      border: 1px solid rgb(203, 165, 165);
      border-right: none;
      width: 270px;
    }
    .lam .timkiem{
      width: 390px;
     
      /* border: 1px solid; */
      border: none;
      margin: 20px 0;
  
    }
    .nuttimkiem{
      background-color: rgb(230, 224, 224);
      border: 1px solid rgb(203, 165, 165);
      border-left: none;
      height: 23px;
      margin-left: 0;
    }
    .lam1 {
      width: 100%;
      background-color: white;
      /* margin-left: -10px; */
     margin-bottom: 40px;
     margin-top:  -5px;
     position:fixed;
     bottom:  125px;
     overflow-y:scroll;
      overflow-x:hidden;
     z-index: 1;
    }
  
    .lam1 ul{
      width: 360px;
      /* margin-left: -30px; */
    }
  
    .lam1 #bras{
      display: block;
      color: black;
      font-size: 120%;
      height: 30px;
      margin-top: -10px;
      margin-left: -30px;
      margin-right: 20px;
    }
    #sanphamgoiy{
      margin: 20px 0 20px -5px;
    }
     #work1{
       
      margin-left: -10px;
      
      z-index: 1;
       border-top: 2px solid rgb(23, 156, 23);
     }
    .lam1 #lidk{
      display: none;
    }
    .lam1 li{
     
      margin-top: -10px;
      display: flex;
      padding-right: 10px;
      padding-bottom: 10px;
      margin-top: -5px;
    }
    
    .anhgioithieu{
       display: none;
    }
     
     
    .menu{
      right: 0;
      margin-top: 0;
      left :-100%;
      position: fixed;
      margin-top: 190px;
       width: 240px;
       display: block;
       /* height: 560px; */
       border-radius: 5px;
       background-color: #383131;
       transition: 0.4s;
    }
    .menu ul{
      display: block;
      width: 100%;
    }
     
    #out{
      opacity: 1;
      margin-top: -10px;
      margin-bottom: -10px;
      margin-left: -67px;
    }
  
    #home{
       margin-left: 0;
    }
    #bor{
      border-bottom: none;
    }
    .menu li{
      border: none;
      text-align: left;
      /* border:1px  solid white; */
      font-size: 100%;
      margin: 40px 30px 40px -30px;
      width:200px ;
    }
     
    .noi{
      margin-top:   14px;
      margin-left: 13px;
    }
  
    .khoi1sanpham{
      width: 390px;
      overflow: hidden;
    }
    .khoi2{
      margin-left: 0;
      width: 390px;
      overflow: hidden;
    }
    
    
    .noidung{
      margin-top: 10px;
      margin-left: 13px;
      width: 390px;
      /* overflow: hidden; */
    }
    .noidung .khoi1menu{
      /* border: 1px solid blue; */
      display: none;
    }
    .khoi1sanpham {
      border: none;
    }
    .khoi2{
      border: none;
    }
    .khoi1sanpham .dssanphamnoibat {
        width: 390px;
        height: auto;
        overflow-x: scroll;
        margin: 0;
        padding: 0;
    }
    .sanphamnoibat .sanphamitem{
      width: 180px;
      margin: 0;
      padding: 0;
      margin: 0 5px;
    }
    .sanphamitem img{
      width: 170px;
    }
    .sanphamitem .thongtinsanphamitem{
       width: 170px;
    }
    /* end sanphamnoibat */
  
    /* start sanphamsale */
    .khoi1sanpham .dssanphamsale {
      width: 390px;
      height: auto;
      overflow-x: scroll;
      margin: 0;
      padding: 0;
      /* border: solid; */
  }
  .sanphamsale .sanphamitem{
    width: 180px;
    margin: 0;
    padding: 0;
    margin: 0 5px;
  }
  .sanphamitem img{
    width: 170px;
  }
  .sanphamitem .thongtinsanphamitem{
     width: 170px;
  }
    /* end sanphamsale */
    
    /* thuong hieu noi bat  */
    .thuonghieunoibat{
      width: 390px;
    }
     .dsthuonghieunoibat  {
         width: 390px;
         display: flex;
  
         overflow-y: scroll;
         height: 250px;
    }
    .dsthuonghieunoibat img{
       margin-left: 60px;
    }
    .muc{
      width: 370px;
    }
  
    .videoquangcao{
      display: none;
  
    }
       
     .dssanphambanchay {
      width: 390px;
      height: auto;
      overflow-x: scroll;
      margin: 0;
      padding: 0;
  }
  .sanphambanchay .sanphamitem{
    width: 170px;
    padding: 0;
    margin: 0 5px;
    
  }
  .sanphamitem img{
    width: 170px;
  }
  .sanphambanchay  .sanphamitem .thongtinsanphamitem{
     width: 170px;
     padding-left: 5px;
  }
  
  .khoi2 .anhquangcao img{
    width: 390px;
    height: 225px;
  
  }
  /* end dssanphambanchay */
  del{
    font-size: 70%;
  }
  .dssanphamsale {
    width: 390px;
    height: auto;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    /* border: solid; */
  }
  .sanphamsale .sanphamitem{
  width: 180px;
  margin: 0;
  padding: 0;
  margin: 0 5px;
  }
  .sanphamitem img{
  width: 170px;
  }
  .sanphamitem .thongtinsanphamitem{
   width: 170px;
  }
  
  .camket {
    overflow: hidden;
    margin-left:  0;
    font-size: 90%;
    width: 390px;
    height: auto;
    margin-top:-30px;
  }
  .camket ul{
    display: block;
    margin-left: 0;
  }
  .camket li{
    margin-top: 20px;
    margin-left: -30px;
    padding-left: 10px;
  }
  .camket li i{
    color: rgb(176, 123, 25);
  
  }
  .camketitem p{
    margin-left: 10px;
  }
  
  .camket .camketitem{
    width: 370px;
    font-size: 90%;
  }
  
  .lienhe{
    overflow: hidden;
    margin-left: 0;
    width: 390px;
    display: block;
    padding-bottom: 40px;
    /* margin-bottom: 300px; */
  }
  .lienhe div{
    
    margin-top: 20px;
  }
  .chat .chatitem{
    width: 330px;
    margin-top: 50px;
  }
  .chat li {
    width: 340px;
  
  }
  #chat1{
     overflow: hidden;
    width: 330px;
    margin-top: 0;
  }
  #chat1 p{
    margin-top:10px;
  }
    .lienhe #app{
      width: 360px;
    }
    #app ul{
      display: flex;
      width: 200px;
      margin: 0;
    }
    #app li p{
      display: none;
    }
    #app li{
      font-size: 140%;
      width: 40px;
      height: 40px;
      margin-top:  -10px;
      margin-left: -20px;
      padding-right: 50px;
    }
    #app img{
      width: 40px;
      height: 40px;
    }
   
  
       
  
  /* cart  */
  .cart{
    margin: 0;
    width: 390px;
   position: fixed;
   height: 97vh;
   font-size: 90%;
   left: 0;
   top: 0;
   background-color: white;
   overflow:  hidden;
   overflow-y: scroll;
   left: -100%; 
   z-index: 1;
   transition: 0.4s;
   }
   
   .cart table{
    width: 370px;
    font-size: 100%;
    margin-top: 20px;
    margin-left : 10px;
   }
   td{
    text-align: center;
    margin-top: 20px;
     
   
   }
   
   
   
   #pom{
     background-color: white;
    
   }
   
   .price-total{
    border-top: 3px solid gray;
    color: rgb(167, 26, 36);
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    font-size: 120%;
     /* margin-top:140px; */
     margin-left: -800px;
      padding-left: 660px;
   
    /* background-color: #eff0f5; */
   }
   th{
    font-size: 90%;
    height: 40px;
   }
  
   #inf1{
    /* border: solid; */
    width: 170px;
    text-align: left;
   }
    
   
   
   /* gio hang */
   .cart-product{
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    width: 390px;
  
    border: solid  #e6dbf9;
    height: 50px;
    justify-content: space-between;
    font-size: 130%;
    padding-bottom: 30px ;
    background-color: #e6dbf9;
    font-weight: bold;
    margin-top: -20px;
   }
   #mark{
     padding-right: 30px;
   }
   
   .cart-product i {
     margin-right: 10px;
   }
   
   #btn4 a{
     background-color: #0fa80f;
     color: white;
   
      
    }
    #btn4{
     background-color: #0fa80f;
     width: 297px;
    }
     
    button i{
     padding-right: 10px;
    }
    #btn5{
     background-color:#f6cd00;
     color: black;
     width: 145px;
    }
    
    #btn6{
     background-color: #f6cd00;
     color: black;
     width: 145px;
   
    }
    .installment{
     display: flex;
     font-size: 90%;
     justify-content: space-between ;
     margin-top: -12px;
    }
   
    .node{
  
     margin-left: 0;
     width: 300px;
     display: block;
     margin: 0 45px;
     
    }
  
    
  form button{
   border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
  border: none;
  width: 300px;
  padding: 10px;
  color: white;
  height: 50px;
  
  }
  #trademark{
    color: rgb(75, 45, 194);
  }
  #anima{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color:#76671b;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
   
   
   /* end cart */
   
   }
   
  
